@mixin breakpoint($point) {
    @if $point == xxs {
        @media (max-width: 480px) {
            @content;
        }
    }
    @else if $point == xs {
        @media (max-width: 767px) {
            @content;
        }
    }
    @else if $point == sm {
        @media (min-width: 768px) and (max-width : 991px) {
            @content;
        }
    }
    @else if $point == md {
        @media (min-width: 768px) and (max-width : 1199px) {
            @content;
        }
    }
    @else if $point == md-d {
        @media (min-width: 1200px) and (max-width : 1299px) {
            @content;
        }
    } //md-d is of Medium Desktop
    @else if $point == lg {
        @media (max-width: 1440px) {
            @content;
        }
    }
    @else {
        @warn "Breakpoint mixin supports: xs, sm, md,md-d, lg";
    }
}

#wrap {
    width: 100%;
    min-height: 100%;
    // height: auto !important;
    // position: relative;
    padding: 55px 0;
}

.review-title {
    margin-bottom: 30px;
}

.review-card {
    &--option-1 {
        padding: 25px;
        background-color: #eee;
        border: #eaeaea 1px solid;
        margin: 30px 70px;
        height: 70%;
        border-radius: 10px;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.40);
    }
    .review-author {
        .ra-author {
            font-size: 18px;
            // display: block;
            margin-bottom: 20px;
        }
        .ra-rating-star {
            color: darkgoldenrod;
            margin: 0 0 15px;
            padding: 0;
            list-style-type: none;
            li {
                display: inline-block;
                margin: 0 4px;
            }
        }
    }
    .review-content {
        text-indent: 50px;
        text-align: left;
        width: 90%;
        margin: 0 auto;
    }
}