@mixin breakpoint($point) {
    @if $point == xxs {
        @media (max-width: 480px) {
            @content;
        }
    }
    @else if $point == xs {
        @media (max-width: 767px) {
            @content;
        }
    }
    @else if $point == sm {
        @media (min-width: 768px) and (max-width : 991px) {
            @content;
        }
    }
    @else if $point == md {
        @media (min-width: 768px) and (max-width : 1199px) {
            @content;
        }
    }
    @else if $point == md-d {
        @media (min-width: 1200px) and (max-width : 1299px) {
            @content;
        }
    } //md-d is of Medium Desktop
    @else if $point == lg {
        @media (max-width: 1440px) {
            @content;
        }
    }
    @else {
        @warn "Breakpoint mixin supports: xs, sm, md,md-d, lg";
    }
}

#wrap {
    width: 100%;
    min-height: 100%;
    // height: auto !important;
    // position: relative;
    padding: 55px 0;
}

.review-title {
    margin-bottom: 30px;
}

.review-card {
    &--option-1 {
        border: 1px solid #D8D8D8;
        padding: 25px;
    }
    .review-card-img {
        border: 1px solid #eee;
        width: 100px;
        height: 70px;
        background-image: url('https://unsplash.it/200');
        background-repeat: no-repeat;
        background-position: center center;
        margin: 0 auto 15px;
    }
    .review-author {
        .ra-author {
            font-size: 18px;
            display: block;
            margin-bottom: 10px;
        }
        .ra-rating-star {
            margin: 0 0 15px;
            padding: 0;
            list-style-type: none;
            li {
                display: inline-block;
                margin: 0 -2px;
            }
        }
    }
    .review-content {}
}

#testiCarousel {
    .carousel-control {
        background: none;
        width: auto;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        bottom: auto;
        text-shadow: 0 0 0;
        color: #000;
        font-size: inherit;
        &.left {
            left: -75px;
        }
        &.right {
            right: -75px
        }
        i {
            font-size: 65px;
        }
    }
}