/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/* layout */
:root {
  --primary: #1aac83;
  --error: #e7195a;
}

body {
  background: #333;
  font-family: "Poppins";
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
  padding: 0 !important;
  margin: 0 !important;
}

body::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}


header {
  /* position: sticky; */
  top: 0;
}

header .container {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header a {
  color: #fff;
  text-decoration: none;
  padding: 0px 10px;
}

/* remove hover effect on mobile */
header a:hover {
  color: #fff;

}

.pages {
  max-width: 2000px;
}

/* homepage */
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

video {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; 
  height: 100vh;
  object-fit: cover;
  filter: brightness(50%);
}

.welcome {
  z-index: 1;
  width: 100%;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.welcome button {
  background: transparent;
  color: #fff;
  border: 2px solid #fff;
  padding: 6px 10px;
  border-radius: 4px;
  font-family: "Poppins";
  cursor: pointer;
  font-size: 1em;
}

.mission {
  display: flex;
  padding: 30px 100px;
  flex-direction: column;
  background: #eee;
  color: #333;
}

.houses {
  padding: 30px 100px;
  display: flex;
  flex-direction: column;
  background: #eee;
  color: #333;
}

.houses h1 {
  margin-left: auto;
  margin-right: auto;
}

.cards {
  padding-bottom: 100px;
}

.testimonials {
  padding: 20px 100px;
  background: #eee;
  color: #333;
}

div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}

input.error {
  border: 1px solid var(--error);
}

/* navbar */
nav {
  display: flex;
  align-items: center;
  z-index: 1;
}

nav span {
  color: #fff;
}

nav a,
nav button {
  margin-left: 10px;
}

nav button {
  background: transparent;
  color: #fff;
  border: 2px solid #fff;
  padding: 6px 10px;
  border-radius: 4px;
  font-family: "Poppins";
  cursor: pointer;
  font-size: 1em;
}

/* auth forms */
label,
input {
  display: block;
}

input {
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 40px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-sizing: border-box;
}

form button {
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px;
  margin-top: 20px;
  width: 100%;
  font-family: "Poppins";
  border-radius: 20px;
  cursor: pointer;
}

form button:hover {
  background: #158767;
}

.auth {
  background-color: #eee;
  padding: 20px;
  height: 100vh;
}

.authlabel {
  margin: 10px 0px 3px 0px;
}

form.signup,
form.login {
  max-width: 500px;
  margin: 40px auto;
  padding: 20px;
  background: #fff;
  border-radius: 10px;
}